*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties */

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Montserrat", monospace;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #a29bfe;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.45),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  margin: 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.6;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
  margin: 0;
}

.section__subtitle--intro,
.section__subtitle--about {
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding-right: 1em;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 200px;
}
.nav {
  position: fixed;
  background-color: var(--clr-dark);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translate(100%);
  transition: 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__links {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__links:hover {
  color: var(--clr-accent);
}
.nav a {
  color: white;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open .nav {
  transform: translateX(0);
}
.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  top: -6px;
}
/* Intro Section */

.intro {
  display: relative;
}
.intro__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
    padding-right: 0.5em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .about-me__img {
    grid-area: img;
    position: relative;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-row: 2;
    grid-column: 1/-1;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
}

.work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__items {
  background-color: var(--clr-accent);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  opacity: 1;
  display: block;
}

.portfolio__items:hover .portfolio__img {
  opacity: 0.3;
}

.portfolio__img:hover,
.portfolio__items:focus .portfolio__img {
  opacity: 0.7;
  transform: scale(1.2);
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-link__links:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-link {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-link__items {
  margin: 0 0.5em;
}

.social-link__links {
  padding: 0.5em;
  font-size: var(--fs-h2);
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
}

.btn__link {
  margin-left: 2em;
  background: var(--clr-dark);
  color: var(--clr-light);
  text-decoration: none;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
  padding: 0.2em 0.4em;
  border: 5px solid transparent;
  transition: border 750ms;
}

.btn__link:first-child {
  margin-left: 0;
}

.btn__link:hover {
  border: 5px solid var(--clr-accent);
}
